version: '3.9'

services:
    app:
        container_name: express_app
        build:
            context: .
            dockerfile: Dockerfile
        env_file:
            - .env
        ports:
            - '${PORT}:${PORT}'
        depends_on:
            mysql:
                condition: service_started
        entrypoint: ['/app/entrypoint.sh']
        restart: always

    mysql:
        container_name: mysql_db
        image: mysql:8.0.36
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_PASS}
            MYSQL_DATABASE: ${DB_NAME}
            MYSQL_USER: ${DB_USER}
            MYSQL_PASSWORD: ${DB_PASS}
        ports:
            - '3307:3306'
        volumes:
            - mysql_data:/var/lib/mysql
        restart: always

volumes:
    mysql_data:
